.heroText {
  background-color: #0080ff70;
}

.shadowBox {
  box-shadow: 5px -5px 20px 0 white;
  background-color: white;
  overflow: hidden;
  height: 220px;
}

.textJustify {
  text-align: justify;
}

/* For mobile phones: */
.site-section-cover h1 {
  font-size: 1.5rem;
}

.site-section-cover p {
  font-size: 1rem;
}

.owl-nav {
  display: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .site-section-cover h1 {
    font-size: 2rem;
  }

  .site-section-cover p {
    font-size: 1.5rem;
  }
}
